{% extends "layout.twig" %}

{% block title %}{{ exception.statusCode }} - Page Not Found{% endblock %}

{% block content %}

    <p>
        Hum! Are you lost? May I help you finding your path?
    </p>

{% endblock content %}
