{% extends "layout.twig" %}

{% block title %}Error {{ exception.statusCode }}{% endblock %}

{% block content %}

    <p>
        Ooooops! Something went wrong when processing your request...
    </p>

{% endblock content %}
