<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% block title 'Todo Application' %}</title>
    <link rel="stylesheet" media="screen" type="text/css" href="{{ asset('style.css') }}"/>
    <link rel="icon" type="image/png" href="{{ asset('favicon.ico') }}">
</head>
<body>
<div id="container">
    <h1><a href="{{ path('homepage') }}">My Todo List</a></h1>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
        (c) Copyright {{ 'now'|date('Y') }} - Not SensioLabs
    </div>
</div>
</body>
</html>

